Proyecto final de Ingeniería Mecatrónica. Título: Sistema de monitoreo de orden en entornos laborales por visión artificial - ICNEA. Fecha de presentación: 14/03/2023. Profesor tutor: Ingeniero Campazzo, Eduardo. Estudiantes:
<div style="display: flex; align-items: center; justify-content: center;">
    - Juan Elias Rodriguez:
    <a href="https://www.linkedin.com/in/juan-elias-rodriguez-865851195/"><img class="iconPng" src="{{ url_for('public', path='/images/linkedin.png') }}" alt="LinkedIn" height="20px"></a>
    <a href="https://github.com/Juerodriguez"><img class="iconPng" src="{{ url_for('public', path='/images/github.png') }}" alt="GitHub" height="20px"></a>
    <img class="iconPng" src="{{ url_for('public', path='/images/gmail.png') }}" alt="Gmail" height="20px"> stylorj@gmail.com &nbsp; | &nbsp;
    - Gonzalo Leonel Gramajo:
    <a href="https://www.linkedin.com/in/gonzalo-gramajo-8635a3191/"><img class="iconPng" src="{{ url_for('public', path='/images/linkedin.png') }}" alt="LinkedIn" height="20px"></a>
    <a href="https://github.com/chumagram"><img class="iconPng" src="{{ url_for('public', path='/images/github.png') }}" alt="GitHub" height="20px"></a>
    <img class="iconPng" src="{{ url_for('public', path='/images/gmail.png') }}" alt="Gmail" height="20px"> gramajogonzalo@gmail.com
</div>
<br>
<style>
    .iconPng {
        padding-left: 5px;
        padding-right: 5px;
    }
</style>