<ul class="nav nav-pills nav-justified">
    <li class="nav-item">
        <img  src="{{ url_for('public', path='/images/logo_icnea.png') }}" alt="Logo ICNEA" height="100px">
    </li>
    <li class="nav-item" style="display: flex; align-items: center;">
        <h4>Proyecto final de Ingeniería Mecatrónica "Sistema de monitoreo de orden en entornos laborales por visión artificial"</h4>
    </li>
    <li class="nav-item">
        <img  src="{{ url_for('public', path='/images/logo_unlar.png') }}" alt="Logo UNLAR" height="90px">
    </li>
</ul>