<div class="row" style="display: flex; justify-content: center;">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Control Panel</h5>
                <div class="container">
                    <div class="row justify-content-start" style="align-items: center;">
                        <div class="col-2">
                            <form action="{{ url_for('calibrate_position_objects') }}" method="get">
                                <input class="btn btn-primary" type="button" value="Calibrate" onclick="calibrate(this)">
                            </form>
                        </div>
                        <div class="col-10">
                            <div class="response_calibrateReady" style="display: flex; align-items: center;">
                                &nbsp;&nbsp;
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden"></span>
                                </div>
                                <div style="padding-left: 5px;">Preparing the calibration...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div>{% include '/controlPanel.html' %}</div>
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Live video</h5>
                <img src="{{ url_for('video_stream') }}" alt="Live video" width="750px" height="550px" style="padding-left: 50px;">
            </div>
        </div>
    </div>
</div>

<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; bottom: 20px; right: 10px; background-color: khaki;">
    <div class="toast-header">
        <svg style="color: rgb(187, 131, 0);" class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <strong style="color: rgb(187, 131, 0);" class="me-auto">Warning</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="closeTastwarningBox()"></button>
    </div>
    <div class="toast-body">
        A box is interrupting access to tools 
    </div>
    <audio controls style="display: none;" id="miAudio">
        <source src="{{ url_for('public', path='/audio/boxFound.mp3') }}" type="audio/mpeg">
    </audio>
</div>