<!DOCTYPE html>
<html lang="es">
    <head>{% include 'head.html' %}</head>
    <body>
        <div class="card">
            <div class="card-header">
                <header>{% include 'mobile/header.html' %}</header>
            </div>
            <div class="card-body">
                <main>
                    <form id="center" method="get">
                        <input class="btn btn-primary" type="button" value="Comenzar" onclick="loadFrontend(this)">
                    </form>
                    <style>
                        #center {
                          display: flex;
                          justify-content: center;
                          align-items: center;
                          height: 70vh; /* altura del viewport */
                        }
                    </style>
                </main>
            </div>
        </div>
    </body>
    <script src="{{ url_for('public', path='/scripts/appIndex.js') }}"></script>
</html>