<div class="row" style="display: flex; justify-content: center;">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Panel de control</h5>

                <form action="{{ url_for('calibrate_ready')}}" method="get">
                    <input class="btn btn-primary" type="button" value="Preparar calibración" onclick="calibrateReady(this)">
                </form>
                <div class="response_calibrateReady">
                    <p>Falta preparar la calibración</p>
                </div>
                
                <form action="{{ url_for('calibrate_position_objects') }}" method="get">
                    <input class="btn btn-primary" type="button" value="Calibrar" onclick="calibrate(this)">
                </form>
                <p class="response_calibrate">Falta calibrar</p>

                <h6>Presencia de las herramientas</h6>
                <div class="res_presences"></div>

                <h6> Posición de las herramientas</h6>
                <div class="res_positions"></div>
                
            </div>
        </div>
    </div>
    <div class="col-sm-7">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Video en directo</h5>
                <img src="{{ url_for('video_stream') }}" alt="Video en directo" width="750px" height="550px" style="padding-left: 50px;">
            </div>
        </div>
    </div>
</div>