<!DOCTYPE html>
<html lang="es">
    <head>{% include 'head.html' %}</head>
    <body>
        <div class="card">
            <div class="card-header">
                <header>{% include 'header.html' %}</header>
            </div>
            <div class="card-body">
                <main>{% include 'main2.html' %}</main>
            </div>
            <div class="card-footer text-muted">
                <footer>{% include 'footer.html' %}</footer>
            </div>
        </div>
        <script src="{{ url_for('public', path='/scripts/main.js') }}"></script>
    </body>
</html>