<!DOCTYPE html>
<html lang="en">
    <head>{% include 'head.html' %}</head>
    <body>
        <div class="card">
            <div class="card-header">
                <header>{% include 'movile/header.html' %}</header>
            </div>
            <div class="card-body">
                <main>{% include 'movile/main.html' %}</main>
            </div>
            <div class="card-footer text-muted">
                <footer>{% include 'movile/footer.html' %}</footer>
            </div>
        </div>
    </body>
    <script src="{{ url_for('public', path='/scripts/appMovile.js') }}"></script>
</html>